<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Innovative Software Solutions Status ID | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      ISS is a Moldavian IT company founded in 2007 under the name of Innovative Software Solutions. ISS is committed to excellence for its customers, to exceed expectations rather then merely meeting them.
    </p>
  </body>
</html>