<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Innovative Software Solutions Status Id | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help on Status Id System here
      <a href="http://www.itsmartsystems.eu/php/career.php">Status Id help page</a>.
    </p>
  </body>
</html>