<footer class="footer">
  <small>
    Status Id by Natalia Tirnovetscaia
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.itsmartsystems.eu/">News</a></li>
    </ul>
  </nav>
</footer>